*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
       
/* Navigation CSS */
nav{
    width: 100%;
    height: 15vh;
    background: rgba(77, 74, 74, 0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    margin-left: 170px;
    color: goldenrod;    
    border: 2pt solid goldenrod;
    border-radius: 30px;
    width: 12%;
    text-align: center;
}
nav .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 30%;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
nav .menu a:hover{
    color: rgb(227, 229, 226);
    font-weight: bolder;
    text-decoration: underline;
}
/*End Navigation*/






table{
    margin-left: auto;
    margin-right: auto;
}
form h2{
    font-size: 28pt;
    text-align: center;
}
form input{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px 10px 10px;
    border: 0.5px solid #1f1d1d;
    background-color: #efefef;
    color: #2e2422;
    border-radius: 5px;
    width: 80%;
    
}
textarea {
    height: 100px;
    width: 326px;
    background-color: #efefef;
    border: 0.5px solid #1f1d1d;
    color: #2e2422;
    font-size: 20px;
    outline: none;
    padding: 15px 10px 10px;
    border-radius: 5px;
}
.button{
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    width: 25%;
    margin: auto;
    display: block;
    text-align: center;
    color: whitesmoke;
    background: #a775e7;
    padding: 8px 16px;
    border-radius: 5px;
    border: 3px solid rgb(53, 52, 49);
    font-size: 17px;
    cursor: pointer;
}
