*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
/* Navigation CSS */
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    margin-left: 170px;
    color: goldenrod;    
    border: 2pt solid goldenrod;
    border-radius: 30px;
    width: 12%;
    text-align: center;
}
nav .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 30%;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
nav .menu a:hover{
    color: rgb(227, 229, 226);
    font-weight: bolder;
    text-decoration: underline;
}
/*End Navigation*/

.main_div{
    width: 100%;
    height: 100vh;
    color: black;
    position: relative;
}

.box{
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid rgb(53, 52, 49);
}
body{
    animation: myanimation 2s infinite;
    animation-fill-mode: forwards;
}
@keyframes myanimation{
    0% {background-color:  #b6797e4f;}
    8% {background-color:  #b679974f;}
    16% {background-color: #b679af4f;}
    24% {background-color: #a679b64f;}
    32% {background-color: #8e79b64f;}
    40% {background-color: #797cb64f;}
    48% {background-color: #7994b64f;}
    56% {background-color: #79acb64f;}
    64% {background-color: #79b6984f;}
    72% {background-color: #79b6904f;}
    80% {background-color: #7ab6794f;}
    88% {background-color: #92b6794f;}
    96% {background-color: #a9b6794f;}
    100% {background-color: #b6ab794f;}
}

.box h1{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    background: transparent;
    outline: none;
}
.box h1::before{
    content: '';
    position: absolute;
    left: 135px;
    top: 78px;
    height: 4px;
    width: 27px;
    background: #7d2ae8;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:focus ~ label:valid{
    top: -20px;
    left: 0;
    color: #5c575a;
    font-size: 14px;
    font-weight: bold;
}

.button[type="submit"], .button[name="signup"]{
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    color: whitesmoke;
    background: #a775e7;
    padding: 8px 16px;
    border-radius: 5px;
    border: 3px solid rgb(53, 52, 49);
    font-size: 17px;
    cursor: pointer;
}

.box input[type="button"]{
    margin-left: 15px;
}
.box input[name="changepwd"]{
    background: transparent;
    margin-top: 10px;
    margin-left: -1px;
    border: none;
    outline: none;
    font-weight: bold;
    color: whitesmoke;
    background: #a775e7;
    padding: 8px 16px;
    border-radius: 5px;
    border: 3px solid rgb(53, 52, 49);
    font-size: 15px;
    cursor: pointer;
}
